/* https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Media_objects */
.mbox {
  --profileimg-size: 5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 0 calc(.25 * var(--gap));
}
.mbox:last-child {
  margin-bottom: 0;
}
.mbox .mbox {
  padding: 0;
}

.mbox-img {
  align-self: start;
  background-color: var(--bgcolor-textinput);
  border-radius: var(--profileimg-size);
  border: 1px solid transparent;
  flex-basis: var(--profileimg-size);
  height: var(--profileimg-size);
  margin-right: 1rem;
  /* padding-top: .5ch; */
  max-width: var(--profileimg-size);
  max-width: var(--profileimg-size);
  outline: .5rem solid var(--bgcolor);
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.mbox-updated-contact .mbox-img,
.mbox-recommend-server .mbox-img {
  --profileimg-size: 4.5ch;
  margin-left: 3ch;
  margin-right: 3.5ch;
}

.mbox-body {
  flex-basis: calc(100% - 64px - 1rem);
  flex-grow: 0;
  flex-shrink: 1;
  word-break: break-word;
}

.mbox-header {
  flex-basis: calc(100% - 64px - 1rem);
  flex-grow: 0;
  flex-shrink: 1;
  margin-top: 0;
}
.mbox-header time,
.mbox-username,
.mbox-updated-contact,
.mbox mbox-recommend-server {
  color: var(--color-accent);
}

.mbox-updated-contact .mbox-body,
.mbox-recommend-server .mbox-body {
  display: block;
  flex-basis: 100%;
  font-size: var(--font-small);
  overflow: scroll;
}

.mbox-updated-contact .mbox-header,
.mbox-recommend-server .mbox-header {
  display: inline;
}

.mbox-updated-contact {
  padding: 0 0 1rem 0;
  margin: 0;
}

.mbox {
  overflow: hidden;
}
.mbox .mbox {
  overflow: visible;
  position: relative;
}
.mobx-replies {
  flex-grow: 1;
  position: relative;
}
.mbox .mbox::before,
.mobx-replies::before {
  background-color: var(--bgcolor-inactive);
  border: none;
  content: "";
  display: block;
  height: 100vh;
  left: calc(.5 * var(--profileimg-size));
  margin-left: -.2rem;
  position: absolute;
  top: -100vh;
  width: .4rem;
}
