form {
}

input,
textarea {
  color: var(--bgcolor-accent);
  font-family: monospace;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  padding: 1.3rem 1.8rem;
}

button,
label {
  color: var(--bgcolor-accent);
  display: block;
  font-family: monospace;
  font-size: 1.6rem;
  margin-bottom: 0;
  padding: 1.3rem 1.8rem;
  text-indent: 0;
}

input[type="password"],
input[type="text"] {
  border: .2rem solid #b7b7b7;
  border-radius: .2rem;
  display: block;
  outline-color: rgb(102, 102, 102);
  width: 100%;
}
input[type="password"]:focus,
input[type="text"]:focus {
  border-color: #d4d4d4;
  outline-offset: 1px;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-height: 3.2rem;
}
.buttons-bottombar {
  bottom: 2rem;
  padding: 0 1rem;
  position: sticky;
}
.buttons-bottombar button {
  font-size: 2rem;
  margin: 1rem;
}

.button-inline {
  background: transparent;
  color: var(--color);
  display: inline;
  padding: .3rem;
}

button {
  background-color: var(--bgcolor-accent);
  border: none;
  border-radius: .2rem;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: var(--bgcolor-inactive);
  cursor: default;
}

.inline-text {
  display: inline-block;
  padding: 0 1ch;
}

.form-status {
  flex-grow: 1;
  padding: 1rem 1.8rem;
}
