@import "tabs.css";
@import "cards.css";
@import "form.css";

:root {
  /* 5px auto Highlight */
  --focus-border-color: rgb(0, 122, 255);
  --focus-border-radius: 2px;
  --focus-outline-color: rgb(127, 189, 247);
  --focus-outline-style: solid;
  --focus-outline-width: 2px;
  --focus-outline: var(--focus-outline-width) var(--focus-outline-style) var(--focus-outline-color);
  --font-small: 1.2rem;
}

::selection {
  background: #ff79f9;
  color: #fff;
}

:where([hidden]) {
  display: none !important;
}

@media (prefers-color-scheme: light) {
  html {
    --bgcolor: #fff;
    --bgcolor-accent: #ff731d;
    --bgcolor-inactive: #bababa;
    --color: rgb(68 68 68);
    --color-accent: #ff731d;
    --bgcolor-danger: rgb(255 0 0);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --bgcolor: #191919;
    --bgcolor-accent: #2d4263;
    --bgcolor-inactive: #535353;
    --color: #c84b31;
    --color-accent: #ecdbba;
    --bgcolor-danger: rgb(255 0 0);
  }

  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}

html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  background-color: var(--bgcolor);
  color: var(--color);
  font-size: 1.6rem;
  line-height: 1.5;
}

body,
button,
input,
select,
textarea {
  font-family: monospace;
}

small,
time {
  font-size: var(--font-small);
}

.danger {
  background-color: var(--bgcolor-danger);
}

a:focus {
  border-radius: var(--focus-border-radius);
  outline: var(--focus-outline);
  outline-offset: 0;
}

img[alt] {
  font-size: .9rem;
  text-align: center;
  word-break: break-all;
}
